*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,900;1,100;1,400;1,600&family=Quicksand:wght@300;400;500;600;700&display=swap');

::-webkit-scrollbar {
    display: none;
}

body{
    background: #141414;
    
    font-family: 'Montserrat', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

header ul {
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style:none ;
}

header ul li{
    border-bottom: none;
    font-size: 22px;
    padding-left: 15px;
    position: relative;
    list-style: none;
    
}

header ul li a{
    color: rgb(239, 239, 239);
    text-decoration: none;

}

header ul li a:hover{
    text-shadow: 0 0 5px  , 0 0 10px rgb(254, 57, 57), 0 0 15px rgb(254, 57, 57);
}








.acilis{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acilis img{
    height: 130px;
    width: 130px;
    margin-bottom: 20px;
}

.acilis h1{
    color: hwb(0 22% 0%);
    
}
.acilis p{
    margin: 10px;
    color: rgb(239, 239, 239);
}






.yeteneklerim{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yeteneklerim h2{
    font-size: 30px;
    color: rgb(239, 239, 239);
    text-shadow: 0 0 5px rgb(254, 57, 57), 0 0 10px rgb(254, 57, 57), 0 0 15px rgb(254, 57, 57);

}

.yeteneklerim h3{
    color: rgb(239, 239, 239);
}

.bar{
    margin-top: 25px;
    width: 500px;
}

.progress-container {
    margin-top: 8px;
    width: 100%;
    height: 10px;
    border-radius: 6px;
    background: #f1f1f1;
  }
  
.progress-bar {
    height: 100%;
    border-radius: 6px;
    background: rgb(254, 57, 57);
    width: 20%;
  }

  .progress-bar1 {
    height: 100%;
    border-radius: 6px;
    background: rgb(254, 57, 57);
    width: 90%;
  }
  .progress-bar2 {
    height: 100%;
    border-radius: 6px;
    background: rgb(254, 57, 57);
    width: 70%;
  }
  .progress-bar3 {
    height: 100%;
    border-radius: 6px;
    background: rgb(254, 57, 57);
    width: 50%;
  }





.galeri{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.galeri h2{
    padding-top: 100px;
    font-size: 30px;
    color: #f1f1f1;
    text-shadow: 0 0 5px rgb(254, 57, 57), 0 0 10px rgb(254, 57, 57), 0 0 15px rgb(254, 57, 57);
}

.galeri2{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    
    width: 80%;
}

.galeri a{
    border-radius: 10px;
  
}

.galeri a:hover{    
    box-shadow: 0 0 5px rgb(254, 57, 57), 0 0 10px rgb(254, 57, 57), 0 0 15px rgb(254, 57, 57);
}

.galeri2 img{
    width: 350px;
    border-radius: 10PX;
}


.hakkımda{
    height: 50vh;
    margin-top: 50px;
}

.hakkımdabas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hakkımdabas h2{
    
    font-size: 30px;
    color: #f1f1f1;
    text-shadow: 0 0 5px rgb(254, 57, 57), 0 0 10px rgb(254, 57, 57), 0 0 15px rgb(254, 57, 57);
}

.hakkımdabas p{
    
    margin-top: 15px;
    color: #f1f1f1;
    
}

.hakkımdagaleri{
    margin-top: 20px;
    margin-right: 350px;
    margin-left: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hakkımdagaleri img{
    height: 150px;
    margin-top: 10PX;
}

.hakkımdagaleri2{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hakkımdagaleri2 p{
    margin-top: 10px;
    color: #f1f1f1;
}




footer {
    margin-top: 150px;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

.fottersag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
 